{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block container %}
<h1>Subaste de <strong>{{puja.articulo.nombre}}</strong></h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <h4>Nombre: {{puja.articulo.nombre}}</h4>
    <h4>Descripcion: {{puja.articulo.descripcion}}</h4>
    <h4>Cantidad: {{puja.articulo.cantidad}}</h4>
    <h4>Precio: {{puja.articulo.precio}}</h4>
  </div>
  <div class="col-md-6">
    <h4>Envio: {{puja.articulo.valor_de_envio}}</h4>
    <h4>Participacion: {{puja.articulo.valor_de_participacion}}</h4>
    <h4>Entrega: {{puja.articulo.tiempo_de_entrega}}</h4>
    <h4>E-mail: {{puja.pide_pujas.email}}</h4>
  </div>
</div>
<br>
<div class="row">
  {% if puja.pide_pujas.pk != user.pk %}
  <h2>Pujar</h2>
    <form method="post">
      {% csrf_token %}
      {%crispy form%}
    </form>
  <br>
  {% endif %}
</div>
<hr>


<div class="row">
  <div class="col-md-6">
    <br>
    <img style="margin:auto;display:block;height:270px;width:430px;" src="/media/{{puja.articulo.image}}"/>
  </div>

  <div class="col-md-6">
    <h3>Ofertas</h3>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Ofertante</th>
          <th>Oferta</th>
        </tr>
      </thead>
      <tbody>
        {% for i in pujantes %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{i.comprador.username}}</td>
          <td>Q. {{i.valor}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
  </div>

</div>
<br>
{% endblock %}
