{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% include 'head.html'%}
</head>

  <body>

    <body background="{% static 'img/bricks-459299_1920.jpg'%}">

</body>
    <div class="container">

    {% include 'nav-bar.html'%}

	 </div>

<div class="row">
  <div class="col-md-1">

  </div>
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <div id="container">
            {% block container %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
</div>


</body>



</html>
