{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% include 'head.html'%}
</head>

  <body>

    <body background="{% static 'img/bricks-459299_1920.jpg'%}">

</body>
    <div class="container">

    {% include 'nav-bar.html'%}

	 </div>






<div class="jumbotron" >
  <h1>Offer 2 Sell</h1>
  <p>Oferta lo que tienes, tu decides que es lo justo!!!</p>
  <p><a class="btn btn-primary btn-lg">Mas...</a></p>
</div>


<div class="container">

  <div class="panel panel-default">
    <center class="footer">Contacto: </center>
  </div>
</div>

<div class="center">
<ul class="pagination pagination-sm">
  <li class="disabled"><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</div>


</body>



</html>
