{% extends 'base.html'%}
{% block container %}
{% load static %}
{% load humanize %}
<div class="row">
<div class="col-sm-12">
<h1>Cambio de Contraseña</h1>
<hr>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<form method="post" id="passwordForm">
  {% csrf_token %}
<input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
<div class="row">
<div class="col-sm-6">
<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Minimo 8 caracteres<br>
<span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Una letra mayúscula
</div>
<div class="col-sm-6">
<span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Una letra minuscula<br>
<span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Un número
</div>
</div>
{% csrf_token %}
<input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
<div class="row">
<div class="col-sm-12">
<span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Contraseña concuerda
</div>
</div>
{% csrf_token %}
<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Cambiar  contraseña">
</form>
</div><!--/col-sm-6-->
</div><!--/row-->
<script src="{% static "js/changepassword.js" %}"></script>
{% endblock%}
