{% load static%}
<title>Offer2Sell</title>
<meta charset="utf-8"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/general.css'%}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
<script type="text/javascript" src="{% static "js/jquery-3.2.1.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.js"%}"></script>
<script type="text/javascript" src="{% static "js/filtros.js"%}"></script>
<script type="text/javascript" src="{% static "js/eliminar.js" %}"></script>
<script type="text/javascript" src="{% static "js/datepicker-source.js" %}"></script>
<script type="text/javascript" src="{% static "js/datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/changepassword.js" %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">
