{% extends 'base.html'%}
{% load static %}
{% block container %}
<div class="jumbotron" >
  <div class="row">
    <img src="{% static 'img/logo2.png'%}" alt="" height="25%" width="25%"/>
    <p>Oferta lo que tienes, tu decides que es lo justo!!!</p>
  </div>
<br><br><br>
  <div class="row">
    <div class="col-md-6" align="right">
      <p><a href="{% url 'CrearArticulo' %}"class="btn btn-primary btn-lg">Subasta algo ahora!</a></p>

    </div>
    <div class="col-md-6" align="left">
      <p><a href="{% url 'CrearArticuloI' %}"class="btn btn-primary btn-lg">Solicita algo ahora!</a></p>
      </div>

  </div>





</div>
{% endblock %}
