
<!DOCTYPE html>
<html>

<link type="text/css" rel="stylesheet" href="style.css"/>

<form class="form-horizontal">
  <fieldset>
    <legend>Registro</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Contraseña</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Genero</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Hombre
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Mujer
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Selects</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>1 Tarjeta VISA</option>
          <option>2 Tarjeta MasterCard</option>
        </select>
        <br>
        <select multiple="" class="form-control">
          <option>1 Tarjeta Visa</option>
          <option>2 Tarjeta MasterCard</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Numero de Tarjeta</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="tarjeta"></textarea>
        <span class="help-block">Ingrese su numero de tarjeta.</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
<script type="text/javascript">
$(document).on('click', '#tarjeta', function(){
  var num = $("#tarjeta").val().toString();
  var charCount = num.length;
  var valid = isValid(ccNum, charCount);
  if (valid){
    return valid
  }
  else{
    console.log("no valido")
  }
});

function isValid(ccNum, charCount){
  var double = true;
  var numArr = [];
  var sumTotal = 0;
  for(i=0; i<charCount; i++){
      var digit = parseInt(ccNum.charAt(i));

      if(double){
          digit = digit * 2;
          digit = toSingle(digit);
          double = false;
      } else {
          double = true;
      }
      numArr.push(digit);
  }

  for(i=0; i<numArr.length; i++){
      sumTotal += numArr[i];
  }
  var diff = eval(sumTotal % 10);
  console.log(diff);
  console.log(diff == "0");
  return (diff == "0");
}
</script>
</html>
